[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "tinymat"]
	path = tinymat
	url = https://github.com/jkriege2/TinyMAT.git
[submodule "nfde"]
	path = nfde
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "clip"]
	path = clip
	url = https://github.com/dacap/clip.git
